[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>

<div class="section" id="app" v-cloak>
  <h1 class="title">Shopping List</h1>

  <div class="container">
    <table class="table is-fullwidth is-striped">
      <!-- Row to add a new item -->
      <tr class="add-row">
        <td class="is-narrow">
          <i class="is-size-2 fa fa-plus-square has-text-success add-item" @click="addItem"></i>
        </td>
        <td>
          <input class="input add-item" type="text" name="new_item" v-model="newItem" @keyup.enter="addItem" placeholder="Add a new item" />
        </td>
        <td class="is-narrow"></td>
      </tr>

      <!-- Row to display each item in the list -->
      <tr v-for="item in sortedItems" :key="item.id" class="item-row">
        <td class="check is-narrow">
          <input type="checkbox" v-model="item.purchased" @change="togglePurchased(item.id)" />
        </td>
        <td class="item">{{ item.item_name }}</td>
        <td class="trash is-narrow">
          <i class="trash has-text-danger fa fa-trash" @click="deleteItem(item.id)"></i>
        </td>
      </tr>
    </table>
  </div>
</div>

[[block page_scripts]]
<script>
  let load_data_url = "[[=XML(load_data_url)]]";
  let add_item_url = "[[=XML(add_item_url)]]";
  let mark_purchased_url = "[[=XML(mark_purchased_url)]]";
  let delete_item_url = "[[=XML(delete_item_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]
